@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-primary border border-warning rounded shadow-lg mt-5">
    <h1 class="display-1 mt-4 text-warning">Bestbuy Database</h1>
    <hr />
    <p class="display-6">Product Inventory Manager</p>
</div>

