@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr />
    <h1 class="display-1 mt-4 text-warning">Bestbuy Database</h1>
    <p class="display-6">Product Inventory Manager</p>
    <hr />

</div>

